/* Error: $map: null is not a map.
 *     ,
 * 100 |   @return map-get($scale, $step);
 *     |           ^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   styles/_colors.scss 100:11           bg-token()
 *   styles/_utilities-colors.scss 47:25  @import
 *   styles/main.scss 3:9                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: $map: null is not a map.\a     \2577 \a 100 \2502    @return map-get($scale, $step);\a     \2502            ^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   styles/_colors.scss 100:11           bg-token()\a   styles/_utilities-colors.scss 47:25  @import\a   styles/main.scss 3:9                 root stylesheet";
}
